td {
	border: 0.05px solid #999;
    width: 50px;
    height: 50px;
}

td#gray {
	background: silver;
}

td#pink {
	background: Salmon;
}

td#blue {
	background: MediumTurquoise;
}

td#purple {
	background: Plum;
}