.App {
  text-align: center;
}

.App-Header {
  background-color: #222;
  color: white;
  font-size: 1.25rem;
  margin-bottom: 20px;
  padding: 1rem;
}

.App-link {
  color: #61dafb;
}

.TableContainer {
  text-align: center;
}

.Table {
  text-align: center;
}